<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      data-th-fragment="layout(titrePage, contenuPage, ressourcesSupp)" lang="fr">

<head>
    <!--    <title data-th-replace="${titrePage}">Page Title</title>-->
    <title th:text="${titrePage}">Default title</title>
    <link href="/css/css.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <th:block th:if="${ressourcesSupp != null} " data-th-replace="${ressourcesSupp}"/>

</head>

<body>
<header data-th-replace="~{fragments/frag-header :: frag-header}"></header>
<div class="w-full relative">
    <h1 class="text-center text-2xl font-semibold" th:text="${titrePage}"></h1>
    <div class="absolute top-0 right-2 border rounded-md border-black p-4  mr-4 right-0">
        <div class="flex gap-4">
            <span>Date du jour: </span>
            <span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}" class="text-end"></span>
        </div>
        <div sec:authorize="isAuthenticated()" class="flex gap-4">
            <span>Participant: </span>
            <span th:text="${#authentication.name}" class="text-end"></span>
        </div>
    </div>
</div>

<main data-th-replace="${contenuPage}"></main>

</body>

</html>