# Fichiers et dossiers spécifiques à Java
*.class
*.jar
*.war
*.ear
*.iml

# Répertoires de build
/target/
/out/
/build/

# Fichiers spécifiques à IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml

# Fichiers spécifiques à Eclipse
.project
.classpath
.settings/

# Logs
logs/
*.log

# Fichiers système et temporaires
.DS_Store
Thumbs.db

# Fichiers spécifiques à Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Fichiers spécifiques à Gradle
.gradle/
build/
!gradle-wrapper.jar

# Cache de dépendances
**/node_modules/
**/.sass-cache/
**/.cache/
!src/main/resources/static/

# Secrets et configurations locales
.env
*.properties
*.yml
*.yaml
# Ignorer tous les fichiers de configuration
src/main/resources/*.properties
!src/main/resources/messages_*.properties
!src/main/resources/messages.properties
src/main/resources/*.yml
src/main/resources/*.yaml

# Sauf si tu veux garder un modèle (ex: `application.example.properties`)
!src/main/resources/application.example.properties

# Database H2 (si utilisée)
*.mv.db
*.h2.db

# Fichiers de test
/test-output/
