<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(titrePage=#{sellArticle.title}, contenuPage=~{:: main}, ressourcesSupp=~{}, toast=~{null})}">

<head>
    <meta charset="UTF-8">
</head>

<body>
<main>
    <div class="flex justify-center items-end mt-40">
        <div class="w-full max-w-1/2">
            <form data-th-action="${articleAVendre.id} != null ?
                 @{/articles/{id}/sale/edit(id=${articleAVendre.id})} :
                 @{/articles/sell}" method="post" data-th-object="${articleAVendre}"
                  class="flex flex-col gap-4">
                <div data-th-replace="~{fragments/errors/frag-errors :: frag-errors}"
                     class="text-red-500 text-sm mb-4">
                </div>

                <div class="flex justify-between items-center w-full gap-8">
                    <div class="flex gap-4 items-center w-1/2">
                        <label for="name" class="block text-sm font-medium text-gray-600 w-1/3"
                               th:text="#{sellArticle.form.label.articleName}">
                        </label>
                        <input type="text" id="name" data-th-field="*{nom}"
                               class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                               required>
                        <div data-th-replace="~{fragments/errors/frag-error :: frag-error('nom')}"></div>
                    </div>
                    <div class="flex gap-4 items-center w-1/2">
                        <label for="price" class="block text-sm font-medium text-gray-600 w-1/3"
                               th:text="#{sellArticle.form.label.startingPrice}">
                        </label>
                        <input type="number" min="0" id="price" data-th-field="*{prixInitial}"
                               class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                               required>
                        <div data-th-replace="~{fragments/errors/frag-error :: frag-error('prixInitial')}"></div>

                    </div>
                </div>

                <div class="flex justify-between items-center w-full gap-8">
                    <div class="flex gap-4 items-center w-1/2">
                        <label for="categorie" class="block text-sm font-medium text-gray-600 w-1/3"
                               th:text="#{sellArticle.form.label.category}">
                        </label>
                        <select id="categorie" data-th-field="*{categorie.id}"
                                class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                            <option th:each="categorie : ${categories}" th:text="${categorie.libelle}"
                                    th:value="${categorie.id}">

                            </option>
                        </select>
                        <div data-th-replace="~{fragments/errors/frag-error :: frag-error('categorie')}"></div>

                    </div>
                    <div class="flex gap-4 items-center w-1/2">
                        <label for="dateDeDebut" class="block text-sm font-medium text-gray-600 w-1/3"
                               th:text="#{sellArticle.form.label.startDate}"></label>
                        <input type="date" min="0" id="dateDeDebut" data-th-field="*{dateDebutEncheres}"
                               class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                               required>
                        <div data-th-replace="~{fragments/errors/frag-error :: frag-error('dateDebutEncheres')}">
                        </div>

                    </div>
                </div>

                <div class="flex justify-between items-center w-full gap-8">
                    <div class="flex gap-4 items-center w-1/2">
                        <label for="description" class="block text-sm font-medium text-gray-600 w-1/3"
                               th:text="#{sellArticle.form.label.description}"></label>
                        <textarea id="description" th:field="*{description}"
                                  class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"></textarea>
                        <div data-th-replace="~{fragments/errors/frag-error :: frag-error('description')}"></div>

                    </div>
                    <div class="flex gap-4 items-center w-1/2">
                        <label for="dateDeFin" class="block text-sm font-medium text-gray-600 w-1/3"
                               th:text="#{sellArticle.form.label.endDate}"></label>
                        <input type="date" min="0" id="dateDeFin" data-th-field="*{dateFinEncheres}"
                               class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                               required>
                        <div data-th-replace="~{fragments/errors/frag-error :: frag-error('dateFinEncheres')}">
                        </div>

                        <th:block th:if="${enchereStatus}">
                            <label for="statut" class="block text-sm font-medium text-gray-600 w-1/3">Status: </label>
                            <select id="statut" th:field="*{statut}">
                                <option th:each="statut : ${enchereStatus}" th:value="${statut}"
                                        th:text="${statut.description}"></option>
                            </select>
                        </th:block>
                    </div>
                </div>

                <div class="flex justify-between items-center w-full gap-8">
                    <label for="retrait" class="block text-sm font-medium text-gray-600 mr-10"
                           th:text="#{sellArticle.form.label.withdrawal}"></label>
                    <select id="retrait" th:field="*{retrait.id}"
                            class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                        <option th:each="adresse : ${adresses}" th:text="${adresse.toString()}"
                                th:value="${adresse.id}">
                        </option>
                    </select>
                    <div data-th-replace="~{fragments/errors/frag-error :: frag-error('retrait')}"></div>

                </div>

                <div class="flex justify-between items-center mt-8">
                    <button type="submit"
                            class="w-full bg-blue-500 text-white py-2 rounded-lg cursor-pointer hover:bg-blue-600 transition"
                            th:text="#{sellArticle.form.action.next}">

                    </button>

                    <button type="button" class="ml-4 w-full">
                        <a th:href="@{/}" class="text-gray-600 hover:text-blue-500"
                           th:text="#{register.form.action.cancel}"></a>
                    </button>
                </div>
            </form>
        </div>
        <form th:if="${articleAVendre.id}"
              th:action="@{/articles/{id}/sale/cancel(id=${articleAVendre.id})}" method="post">
            <button type="submit"
                    class="w-full bg-blue-500 text-white p-2 rounded-lg cursor-pointer hover:bg-blue-600 transition"
                    th:text="#{sellArticle.form.action.cancelSell}">
            </button>
        </form>
    </div>
</main>
</body>

</html>