<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(titrePage=${profile.pseudo}, contenuPage=~{:: main}, ressourcesSupp=~{}, toast=${toast})}">

<head>
    <meta charset="UTF-8">
    <title>Mon profile</title>

</head>

<body>
<main>
    <!-- Afficher un message d'erreur si l'utilisateur n'existe pas -->
    <div th:if="${errorMessage}" class="text-2xl mt-20">
        <p th:text="#{${errorMessage}}" class="text-center"></p>
    </div>
    <th:block th:if="${profile}">
        <div class="flex justify-center min-h-screen w-1/4 mx-auto mt-8">

            <div class="mb-2 w-full">
                <div class="flex items-center justify-between">
                    <p th:text="#{profile.details.firstname}"></p>
                    <p th:text="${profile.prenom}"></p>
                </div>
                <div class="flex justify-between mb-2">
                    <p th:text="#{profile.details.lastname}"></p>
                    <p th:text="${profile.nom}"></p>
                </div>
                <div class="flex justify-between mb-2">
                    <p th:text="#{profile.details.email}"></p>
                    <p th:text="${profile.email}"></p>
                </div>

                <div class="flex justify-between mb-2">
                    <p th:text="#{profile.details.phone}">Téléphone</p>
                    <p th:text="${profile.telephone}"></p>
                </div>
                <button class="w-full mt-4 bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition">
                    <a th:href="@{/profile/edit}" th:if="${#authentication.name == profile.pseudo}"
                       th:text="#{profile.details.action.edit}"></a>
                    <a href="/" th:if="${#authentication.name != profile.pseudo}"
                       th:text="#{profile.details.action.back}">Retour</a>
                </button>
            </div>
        </div>
    </th:block>

</main>
</body>

</html>