<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      data-th-fragment="frag-header">
<head>
</head>
<body>
<header>
    <div class="container mx-auto px-4 pb-4 sm:pb-0">
        <nav class="bg-white border-gray-200">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img class="w-[80px] h-[80px]" src="/images/logo_header.jpg" alt="logo_header"/>
                    <h1>Eni-Encheres</h1>
                </a>
                <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul class="font-medium flex gap-2 flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
                        <li>
                            <div class="flex flex-row gap-2">
                                <a href="/?language=fr"><img class="h-[25px]" alt="Français" src="/images/French.webp"></a>
                                <a href="/?language=en"><img class="h-[25px]" alt="English" src="/images/English.webp"></a>
                            </div>
                        </li>
                        <li>
                            <a class="text-blue-500 underline" href="/" th:text="#{header.home}"></a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/articles/sell" th:text="#{header.sellArticle}"
                               class="text-blue-500 underline"></a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/profile" th:text="#{header.myProfile}"
                               class="text-blue-500 underline"></a>
                        </li>
                        <li sec:authorize="!isAuthenticated()">
                            <a class="text-blue-500 underline" href="/login"
                               th:text="#{header.loginRegister}"></a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <form data-th-action="@{/logout}" method="post">
                                <button class="text-blue-500 underline cursor-pointer" th:text="#{header.logout}"
                                        type="submit"></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
</body>
</html>

