<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      data-th-fragment="frag-header">
<head>
</head>
<body>
<header>
    <div class="container mx-auto px-4">
        <div class="flex flex-row p-6 min-h-16">
            <div class="flex flex-row gap-2 flex-grow-1 items-center">
                <img class="w-[80px] h-[80px]" src="/images/logo_header.jpg" alt="logo_header"/>
                <h1>Eni-Encheres</h1>
            </div>
            <div class="flex flex-row gap-6">
                <div class="flex flex-row gap-2">
                    <a href="/?language=fr"><img class="h-[25px]" alt="Français" src="/images/French.webp"></a>
                    <a href="/?language=en"><img class="h-[25px]" alt="English" src="/images/English.webp"></a>
                </div>
                <a class="text-blue-500 underline" href="/" th:text="#{header.home}"></a>
                <a class="text-blue-500 underline" href="/login" sec:authorize="!isAuthenticated()"
                   th:text="#{header.loginRegister}"></a>
                <form data-th-action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                    <button class="text-blue-500 underline cursor-pointer" th:text="#{header.logout}"
                            type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</header>
</body>
</html>

