<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{layouts/layout :: layout(titrePage=${titre_enchere_details}, contenuPage=~{::main}, ressourcesSupp=~{})}"
      lang="fr">
    <main>
        <div class="container mx-auto mt-16" id="container_vente">
            <div class="flex flex-row justify-around ring ring-blue-500/50 rounded-xl p-16" th:classappend="${vente_close ? 'opacity-30' : ''}" th:with="e=${enchere}">

                <div class="flex flex-col">
                    <div class="flex flex-row gap-4 p-4 items-center">
                        <label for="article_nom" class="block ext-sm font-medium text-gray-900 w-[150px] dark:text-white">Article :</label>
                        <input type="text" disabled id="article_nom" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[250px] p-2.5" th:value="${e.articleAVendre.nom}" />
                    </div>
                    <div class="flex flex-row gap-4 p-4 items-center">
                        <label for="article_categorie" class="block ext-sm font-medium text-gray-900 w-[150px] dark:text-white">Catégorie :</label>
                        <input type="text" disabled id="article_categorie" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[250px] p-2.5" th:value="${e.articleAVendre.categorie.libelle}" />
                    </div>
                    <div class="flex flex-row gap-4 p-4 items-center">
                        <label for="article_description" class="block ext-sm font-medium text-gray-900 w-[150px] dark:text-white">Description :</label>
                        <textarea disabled id="article_description" rows="7" class="min-h-40 max-h-fit p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 block w-[300px]" th:text="${e.articleAVendre.description}"></textarea>
                    </div>
                    <div class="flex flex-row gap-4 p-4 items-center">
                        <label for="article_retrait" class="block ext-sm font-medium text-gray-900 w-[150px] dark:text-white">Retrait :</label>
                        <input type="text" disabled id="article_retrait" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block min-w-[450px]  p-2.5" th:value="${e.articleAVendre.retrait}" />
                    </div>
                    <div class="flex flex-row gap-4 p-4 items-center">
                        <label for="article_vendeur" class="block ext-sm font-medium text-gray-900 w-[150px] dark:text-white">Vendeur :</label>
                        <!-- Si c'est notre enchère -->
                        <input th:if="${#authentication.name == enchere.articleAVendre.vendeur.pseudo}" type="text" disabled id="article_vendeur" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[250px] p-2.5" th:value="${e.articleAVendre.vendeur.pseudo} + ' (Vous)'" />
                        <input th:if="${#authentication.name != enchere.articleAVendre.vendeur.pseudo}" type="text" disabled id="article_vendeur" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[250px] p-2.5" th:value="${e.articleAVendre.vendeur.pseudo}" />
                    </div>
                    <!-- Si c'est pas notre enchère et qu'elle est en cours -->
                    <form action="/encherir" method="post" th:if="${#authentication.name != enchere.articleAVendre.vendeur.pseudo && enchere.articleAVendre.statut == 1}" class="flex flex-row gap-4 p-4 items-center">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" name="idArticle" th:value="${e.articleAVendre.id}" />
                        <label for="article_enchere" class="block ext-sm font-medium text-gray-900 w-[150px] dark:text-white">Mon enchère :</label>
                        <input name="montant" type="number" id="article_enchere" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[250px] p-2.5" step="1" th:min="${e.montant + 1}" th:value="${e.montant + 1}" />
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-8 py-3 me-2">Enchérir</button>
                     </form>
                    <!-- Si c'est notre enchère et qu'elle est terminée -->
                    <div th:if="${#authentication.name == enchere.articleAVendre.vendeur.pseudo && enchere.articleAVendre.statut == 2 }" class="flex flex-row gap-4 p-4 items-center">
                        <form action="/clotureEnchere" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="hidden" name="id" th:value="${e.articleAVendre.id}">
                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-8 py-3 me-2">retrait effectué</button>
                        </form>
                    </div>
                    <div class="flex flex-row gap-4 p-4 items-center">
                        <button th:type="button" onclick="window.location.href='/'" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-8 py-3 me-2">Retour</button>
                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="flex flex-row gap-4 p-4 items-center">
                        <label for="article_prix_initial" class="block ext-sm font-medium text-gray-900 w-[150px] dark:text-white">Mise à prix :</label>
                        <input type="number" disabled id="article_prix_initial" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[250px] p-2.5" th:value="${e.articleAVendre.prixInitial}" />
                    </div>
                    <div class="flex flex-row gap-4 p-4 items-center">
                        <label for="article_meilleur_prix" class="block ext-sm font-medium text-gray-900 w-[150px] dark:text-white">Meilleur offre :</label>
                        <input type="number" disabled id="article_meilleur_prix" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[250px] p-2.5" th:value="${e.montant}" />
                    </div>
                    <div class="flex flex-row gap-4 p-4 items-center">
                        <label for="article_date_fin_enchere" class="block ext-sm font-medium text-gray-900 w-[150px] dark:text-white">Fin de l'enchère :</label>
                        <input type="text" disabled id="article_date_fin_enchere" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[250px] p-2.5" th:value="${e.articleAVendre.dateFinEncheres}" />
                    </div>
                </div>


            </div>


                <!-- Main modal -->
                <div id="modal_vente" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" th:classappend="${!vente_close ? 'hidden' : ''}" class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-2xl max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                            <!-- Modal header -->
                            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                    Comfirmation de vente
                                </h3>
                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="static-modal">
                                    <svg class="w-3 h-3" onclick="closeModal()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-4 md:p-5 space-y-4">
                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400" th:text="'Vous avez vendu ' + ${enchere.articleAVendre.nom} + ' à ' + ${enchere.acquereur.pseudo} + ' .'"></p>
                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400" th:text="'Vous avez aqcuis ' + ${enchere.getMontant()} + ' Crédits supplémentaires.'"></p>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <button onclick="closeModal()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Comfirmer</button>
                                <button onclick="window.location.href='/'" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Revenir à l'acceuil</button>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <script data-th-src="@{/js/enchere_details.js}"></script>
    </main>
</html>