<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(titrePage=~{::title}, contenuPage=~{::main}, ressourcesSupp=~{})}"
      lang="fr">
<head>
    <title th:text="#{header.home}"></title>
</head>
<main>
    <div class="container mx-auto px-4">

        <div class="flex flex-col">

            <!-- Filtres -->
            <div class="p-4 flex flex-col gap-4 mt-6">
                <label class="text-1xl font-semibold" for="searchBar">Filtres</label>
                <div class="flex flex-row gap-6">
                    <div class="flex flex-col w-fit gap-4">
                        <div class="flex flex-col gap-4 w-[350px]">
                            <div class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                                <input name="searchBar" type="text" id="searchBar" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 " placeholder="Le nom de l'article contient">
                            </div>
                        </div>
                        <div class="flex flex-row justify-between items-center">
                                <label class="text-1xl font-semibold" for="categorySelect">Catégorie</label>
                                <select name="category" id="categorySelect" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[250px] p-2.5">
                                    <option value="" selected>Choisissez une catégorie</option>
                                    <option value="Informatique">Informatique</option>
                                    <option value="Ameublement">Ameublement</option>
                                    <option value="Sport&Loisir">Sport et Loisir</option>
                                    <option value="Vêtement">Vêtement</option>
                                </select>
                            </div>
                    </div>
                    <div class="flex flex-col gap-4 justify-center">
                        <button onclick="applyFilter()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2">Rechercher</button>
                        <button onclick="resetFilter()" type="button" class="py-2.5 px-5 me-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">Anuler</button>
                    </div>
                </div>
            </div>


            <!-- Vignettes enchères -->
            <div class="flex flex-row gap-6 flex-wrap p-4 mt-14">

                <!-- Vignette -->
                <div th:each="enchere : ${encheres}" class="flex flex-col flex-wrap gap-4 border rounded w-fit p-6 pt-4 enchere" th:classappend="${enchere.articleAVendre.categorie.libelle}">
                    <div class="flex flex-row gap-4">
                        <div class="flex flex-col justify-end">
                            <div class="w-20 h-20 border rounded"></div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex mb-3">
                                <h3 class="font-semibold enchere-titre" th:text="${enchere.articleAVendre.nom}"></h3>
                            </div>
                            <div class="flex flex-col gap-1 px-2">
                                <div class="flex flex-row gap-1">
                                    <p class="text-sm font-medium">Prix:</p>
                                    <p class="text-sm enchere-montant" th:text="${enchere.montant} + ' point(s)'"></p>
                                </div>
                                <div class="flex flex-row gap-1">
                                    <p class="text-sm font-medium">Fin de l'enchère : </p>
                                    <p class="text-sm enchere-date" th:text="${enchere.articleAVendre.dateFinEncheres}"></p>
                                </div>
                                <div class="flex flex-row gap-1">
                                    <p class="text-sm font-medium">Vendeur : </p>
                                    <p class="text-sm enchere-vendeur" th:text="${enchere.articleAVendre.vendeur.pseudo}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script data-th-src="@{/js/home.js}"></script>
</main>
</html>
